
@import "active_admin/mixins";
@import "active_admin/base";

  fieldset.inputs {
    margin-bottom: 10px;
    padding-top: 5px; 
    }

    li.input {
      padding: 5px 10px;
      padding-left: 10px; 
    }

    li.label {
      float: left; 
    }

    select {
      width: 70%; 
    }

    input, textarea {
      width: 70%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .label {  
	  float :left;  
	  width: 100%;
	}  